{% extends "layout.html" %}

{% block title %}HOME{% endblock %}

{% block page_content %}
<link href="{{ url_for('static', filename = 'CSS/coral.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'JS/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename = 'JS/coral.js') }}"></script>


    <div class="nav_box">
        <ul class="nav">
            <li><a href="{{ url_for('pages', page = 'index') }}">HOME</a></li>
            <li><a href="{{ url_for('pages', page = 'coral') }}">CORAL</a></li>
            <li><a href="{{ url_for('pages', page = 'team') }}">TEAM</a></li>
        </ul>
    </div>
    <div class="left_nav">
        <p>Coral</p>
        <p>Importance of corals to the ecosystem</p>
        <p>Symbiotic structure of corals and zooxanthellae</p>
        <p>Catastrophic effects of environmental change on corals</p>
        <p>Targeting: the effects of high temperature stress on the symbiotic worm Flavobacteria</p>
    </div>

    <div class="content">
        <div class="section">
            <h1>Coral</h1>
            <p>
                According to the report, hard coral cover has steadily declined since 2010, with the most severe impacts occurring in South Asia, 
                Australia, the Pacific, East Asia, the Western Indian Ocean, the Gulf and the Gulf of Oman.
            </p>
            <p>
                The report states that although coral reefs in more than 100 countries cover only 0.2 percent of the seafloor, they support the safety, 
                coastal protection, well-being, food and economic security of hundreds of millions of people. 
            </p>
            <p>
                The value of the goods and services they provide is estimated at $2.7 trillion per year, including $36 billion in reef tourism. 
            </p>
            <p>
                Biogenic reefs, which are marine carbonate rocks with wave-resistant structures composed of reef-building organisms such as coral polyps 
                and algae, are one of the world's major carbon reservoirs and an important window on the processes of the tropical oceans affecting
                 mid-to-high latitude environments.
            </p>
            <p>
                However, coral reefs are under threat from climate change, ocean acidification and land-based pollution; as well as sedimentation from 
                agriculture, marine pollution and overfishing. 
            </p>
            <p>
                "Maintaining the integrity and resilience of coral reef ecosystems is critical to the well-being of tropical coastal communities around 
                the world and is an important part of the solution to achieving the Sustainable Development Goals under the 2030 Agenda for Sustainable 
                Development," the report states.
            </p>
        </div>
        <div class="section">
            <h1> Importance of corals to the ecosystem</h1>
            <p>
                Coral reefs, known as the "rainforests" and "undersea gardens" of the ocean, are an important part of the marine ecosystem. With less than
                 two-thousandths of the sea floor, they provide a home for nearly 30% of all marine fish species. Coral reefs have the highest 
                 biodiversity of any ecosystem in the world, making them one of the most complex and valuable organisms on the planet.
            </p>
        </div>
        <div class="section">
            <h1>Symbiotic structure of corals and zooxanthellae</h1>
            <p>
                Corals have a simple structure, containing just two layers of tissue. They act as symbiotic hosts for algae, with the unicellular algae 
                located in the endoderm of the host, forming a symbiotic structure. On the one hand, the zooxanthellae sequester carbon through 
                photosynthesis and transfer it to the host for the synthesis of glucose, glycerol and amino acids. On the other hand, the host provides a 
                safer living environment for C. elegans and transfers metabolic wastes such as ammonia, phosphate, and CO2 to C. elegans to facilitate its 
                photosynthesis. The symbiosis between corals and zooxanthellae is essential for coral reef systems and therefore has a more specific 
                ecological and economic value.
            </p>
        </div>
        <div class="section">
            <h1>Catastrophic effects of environmental change on corals</h1>
            <p>
                Elevated temperatures and high intensity light radiation are the main causes of coral bleaching. When changes in environmental factors exceed 
                the tolerance range of corals, the photosynthetic organs of symbiotic algae are damaged, leading to a decrease in photosynthesis. After coral 
                bleaching occurs, the non-symbiotic zooxanthellae recolonize the coral to form a new symbiotic relationship, and restoration of growth of the 
                bleached coral may occur in the following weeks to months. If the bleached coral fails to return to the symbiotic state or if the stressful 
                conditions persist for too long, coral death will result.
            </p>
        </div>
        <div class="section">
            <h1>Targeting: the effects of high temperature stress on the symbiotic worm Flavobacteria</h1>
            <p>
                A large body of evidence suggests that the collapse of the symbiosis occurs due to impairment of the photosynthetic machinery within the 
                symbiotic system.
            </p>
            <p>
                And we are concerned about the heat shock proteins Hsp70 Hsp90 increase in content under high temperature conditions.
            </p>
            <p>
                Heat shock proteins play a crucial role in maintaining normal cellular activities. Heat shock proteins are categorized into several families 
                depending on their molecular weights, of which Hsp70 and Hsp90 belong to two major families. Under stress conditions, heat shock proteins have 
                strong inhibitory effects on apoptosis (Apoprosis).
            </p>
            <p>
                Literature shows that when the temperature was increased from 28℃ to 32℃, there was no significant change in the gene expression of heat 
                shock proteins Hsp70 and Hsp90 (p>0.05), and with the continuation of high temperature stress, the expression of the two genes gradually 
                increased, and on the seventh day of 32℃, the expression of Hsp70 and Hsp90 increased gradually, and on the seventh day of 32℃, Hsp70 and 
                Hsp90 showed no significant change.
            </p>
            <p>
                On the seventh day of 32℃, the expression of Hsp70 and Hsp90 increased significantly ( p < 0.01)and reached the maximum value, indicating 
                that the alga was subjected to strong heat stress.
            </p>
            <p>
                This indicated that the alga was subjected to strong heat stress at this time.
            </p>
            <p>
                When the temperature was lowered from 32℃ to 28℃, the expression of Hsp70 and Hsp90 decreased significantly (p < 0.05), while on the 
                third day of 28℃, the expression of both genes decreased significantly (p < 0.05).28℃ on the third day, the expression of the two genes 
                increased again, which might be related to the recovery process of C. elegans. Subsequently, the expression of the two genes decreased to 
                a lower level (p < 0.01) and stabilized, suggesting that the physiological function of the alga had reached a stable state.
            </p>
            <p>
                Data and literature suggest that heat shock proteins have a strong repairing effect on cell structure damaged under high temperature.              
            </p>
            <p>
            Therefore, coral keepers decided to start with heat shock proteins to improve their expression and enhance their repairing effect to help 
            corals adapt to high temperature environment.
            </p>
        </div>
    </div>

{% endblock %} 
